<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sciurus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Sciurus.Properties.Settings>
      <setting name="MainViewHeight" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="MainViewWidth" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="DetailsViewWidth" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="ContentDetailsViewHeight" serializeAs="String">
        <value>384</value>
      </setting>
    </Sciurus.Properties.Settings>
  </userSettings>
</configuration>